

//Colors

//Primary

$LinearGradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);

//Neutral

$white: rgb(246, 246, 254);
$LightGrayishBlue: hsl(234, 14%, 74%);
$GrayishBlue: hsl(233, 13%, 49%);
$DarkGrayishBlue: hsl(232, 13%, 33%);